/* FONTY */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

/* ZAWSZE */
* {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    overflow-x: hidden;

    font-family: 'Roboto', sans-serif;
}

body {
    position: relative;
    width: 100%;
    margin: 0;

    box-sizing: border-box;
    overflow-x: hidden;
}

.wrapper {
    width: 1200px;
    max-width: 100%;

    margin: 0 auto;
    padding: 0 20px;
}

/* ATOMS */
h1,
h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
    color: #BE9C7A;
    margin: 25px 0 45px;
}

h3 {}

.page-title {
    margin-top: 45px;
}

p {
    font-family: 'roboto', 'serif';
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    color: #17333A;

    margin: 0 0 25px;
}

a {}

a:hover {}

.button {
    display: inline-block;
    font-family: 'Roboto', 'serif';
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
    letter-spacing: 1px;
    text-decoration: none;

    background-color: #BE9C7A;
    border: none;

    padding: 10px 25px;
    cursor: pointer;
}

/* ORGANISMS */
.menu-primary {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-primary__item {
    margin-left: 40px;
    position: relative;
    list-style: none;
}

.menu-primary__link {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    border-bottom: 2px solid transparent;

    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;

    transition: 0.5s ease-in-out;
}

.menu-primary__link:hover {
    border-bottom: 2px solid #BE9C7A;
}

.menu-primary__submenu {
    position: absolute;
    top: 100%;
    left: 0;

    width: 200px;
    height: auto;

    margin: 0;
    /* Michal */
    padding: 51.5px 0 20px;
    /* Michal - end */
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease-in-out;
}
/* Michal */
.menu-primary__submenu .menu-primary__link {
    display: block;
    width: 100%;
    padding: 0 15px;
    text-align: left;
}
.menu-primary__submenu:before {
    content: '';
    position: absolute;
    top: 31.5px;
    left: 0;

    width: 100%;
    height: calc(100% - 31.5px);
    background: #233037;
    z-index: -1;
}
.menu-primary__submenu .menu-primary__submenu {
    top: -20px;
    left: auto;
    right: 100%;
    padding: 20px 15px;
}
.menu-primary__submenu .menu-primary__submenu:before {
    top: 0;
    height: 100%;
    background: #BE9C7A;
}
/* Michal - end */

.menu-primary__submenu:hover {
    opacity: 1;
    pointer-events: all;
}

.menu-primary__link:hover+.menu-primary__submenu {
    opacity: 1;
    pointer-events: all;
}
.menu-primary__submenu .menu-primary__item {
    margin-left: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 95px;
    padding: 10px 0;
    border-top: 5px solid #BE9C7A;

    background-color: #17333A;
    z-index: 2;
}

.header__wrapper {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-between;

}

.header__logo {}

.header__logo-img {
    width: auto;
    height: auto;
}

.banner {
    position: relative;
}

.banner__image {
    height: auto;
    width: 100vw;
    margin: 0 calc((100vw - 100%) / 2 * (-1));
}

.banner__text {
    position: absolute;
    bottom: 100px;
    left: 0;
    width: 880px;
    max-width: 100%;
    margin-bottom: 30px;
    z-index: 1;
}

.banner__title {
    display: block;
    font-family: 'roboto slab', 'serif';
    font-size: 55px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: left;
}

.banner__description {
    display: block;
    font-family: 'roboto slab', 'serif';
    font-size: 25px;
    font-weight: normal;
    color: #FFFFFF;
    text-align: left;
}

@media (max-width: 1200px) {
    .banner__text {
        bottom: 50px;
    }
}

@media (max-width: 850px) {
    .banner__text {
        bottom: 20px;
    }

    .banner__title {
        font-size: 45px;
        margin-bottom: 10px;
    }
}

@media (max-width:600px) {
    .banner__title {
        font-size: 40px;
    }

    .banner__description {
        font-size: 20px;
    }
}

@media (max-width:300px) {
    .banner__title {
        font-size: 35px;
    }
}

.content {
    margin: 25px 0;
}

.content__row {
    display: flex;
    width: calc(100% + 50px);
    margin: 0 -25px;
}

.content__col {
    width: 100%;
    margin: 0 25px;
    text-align: left;
}

.content__col h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.content__col--two h2 {
    color: #17333A;
}

.content__col p {
    font-family: 'Roboto', 'serif';
    font-size: 14px;
    margin-right: 65px;
}

@media (max-width:600px) {
    .content__row {
        flex-flow: wrap;
    }
}

.full-img {
    position: relative;
}

.full-img__image {
    display: flex;
    align-items: flex-start;

    height: auto;
    width: 100vw;
    margin: 0 calc((100vw - 100%) / 2 * (-1));
}

.full-img__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    max-height: 100%;
    text-align: center;
    padding: 50px 0;
    z-index: 1;
}

.full-img__title {
    font-family: 'Roboto Slab', 'serif';
    font-size: 60px;
    font-weight: normal;
    color: #FFFFFF;
}

@media (max-width:850px) {
    .full-img__title {
        font-size: 50px;
    }
}

@media (max-width:320px) {
    .full-img__title {
        font-size: 35px;
    }
}


.icons {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: space-between;
}

.icons__item {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: calc(33.3% - 80px);
    margin: 40px;
}

.icons__img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100px;
    width: 100px;
    min-width: 100px;

    border: 1px solid #BE9C7A;
    border-radius: 50%;
    margin-bottom: 45px;
}

.icons__img img {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 60px;
}

.icons__text a {
    position: relative;

    font-size: 24px;
    font-weight: normal;
    font-family: 'roboto', 'serif';
    color: #FFFFFF;
    text-decoration: none;
    text-transform: none;
}

.icons__text a:after {
    content: '';
    position: absolute;
    top: 50%;
    left: -10px;

    width: calc(100% + 20px);
    height: 2px;
    background-color: #BE9C7A;

    z-index: 1;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.icons__text a:hover:after {
    opacity: 1;
}


@media (max-width:800px) {
    .icons {
        flex-wrap: wrap;
    }

    .icons__item {
        width: 100%;
    }
}


.dark-bgr {
    position: relative;
    display: block;
    padding: 50px 0;
    height: auto;
}

.dark-bgr:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100vw;
    height: 100%;
    background-color: #233037;
    z-index: -1;
}

.dark-bgr h2 {
    text-align: center;
}

.dark-bgr p {
    font-size: 18px;
    font-family: 'roboto', 'serif';
    font-weight: normal;
    color: #FFFFFF;
    text-align: center;
}


.brands {
    height: auto;
    width: 100%;
    text-align: center;
}

.brands__dark-color {}

.brands__slider {
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.brands__item {}

.brands__img {}

.brands__button {
    /* font-family: 'Roboto' , 'serif';
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
    letter-spacing: 1px;
    text-decoration: none;

    background-color:#BE9C7A;
    border: none;
    
    padding: 10px 25px; */
}
.brands__slider .slick-item {
    
}

@media (max-width:960px) {
    .brands__slider {
        flex-flow: column-reverse;

    }

    .brands__item {
        margin-bottom: 30px;
    }
}

.footer {
    position: relative;
    display: flex;
    flex-flow: column;
    height: auto;
    width: 100%;
}

.footer::before {
    content: "";
    position: absolute;
    top: -200px;
    left: 50%;
    transform: translateX(-50%);

    width: 100vw;
    height: calc(100% + 200px);

    background-image: url("./images/Layer13.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;

    z-index: -1;
}

.footer__content {
    text-align: center;
    padding-top: 50px;
}

.footer__content-top {
    text-align: center;
}

.footer__content-bottom {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    text-align: left;
}

.footer__content-botton-left {
    width: 600px;
    max-width: calc(100% - 320px);
}

.form {
    display: flex;
    flex-flow: row wrap;

    width: calc(100% + 15px);
}

.form > * {
    max-width: calc(100% - 15px);
    margin-right: 15px;
}

.form__label {
    position: relative;
    display: block;
    width: calc(100% - 15px);
    height: auto;
    margin-right: 15px;
    margin-top: 30px;
}


.form__label--small {
    width: calc(33.3% - 15px);
}

.form__title {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 14px;
    font-weight: 400;
}

.form__input {
    display: block;
    width: 100%;
    height: 34px;
    outline: none;
}

textarea.form__input {
    height: 100px;
    min-height: 100px;
    resize: none;
}

.form__input:focus+.form__title {
    top: -20px;
    font-size: 12px;
    left: 5px;
}

.form__button-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 30px;
    margin-right: 0px;
}

.footer__content-botton-right {
    display: inline-block;
    width: 320px;
    max-width: 100%;

}

.footer__content-botton-right h3 {
    font-size: 28px;
    font-weight: 700;
    font-family: 'roboto', 'serif';
    color: #BE9C7A;
}

.footer__content-botton-right p,
a {
    font-size: 20px;
    font-weight: 700;
    font-family: 'roboto', 'serif';
    color: #FFFFFF;
    text-decoration: none;

}

.footer__copyright {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
}

.footer__copyright-copyright {
    font-size: 14px;
    font-weight: normal;
    font-family: 'Roboto', 'serif';
    color: #FFFFFF;

    padding-top: 150px;
}
.footer__copyright-realization {
    font-size: 14px;
    font-weight: normal;
    font-family: 'Roboto', 'serif';
    color: #FFFFFF;

    padding-top: 150px;
}
.footer__copyright-realization-img {
   
}

@media (max-width:600px) {
    .footer__copyright {
        flex-wrap: wrap;
    }
    .footer__copyright-realization {
        padding-top: 10PX; }

}


@media (max-width:1100px) {
    .footer__content-bottom {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer__content-botton-left {
        width: 100%;
        max-width: none;
        margin-right: 100px;
    }

    .footer__content-botton-right {
        width: 100%;
    }
}
@media (max-width:550px) {
    .footer__content-botton-left {
        margin-right: 0;
    }
}

@media (max-width:410px) {
    .form {
        flex-wrap: wrap;
    }

    .form__label--small {
        width: 100%;
    }

    .form__title {
        top: 10px;
    }
}

.image__col {
    display: flex;
    justify-content: space-between;
}

.img__image {
    max-width: 440px;
    max-height: 294px;
}

/* NA DOLE */
.subpage .header + * {
    margin-top: 95px;
}

@media (max-width:950px) {
    .image__col {
        flex-wrap: wrap;
    }
}

/* content: '\f054';
font-family: 'Font Awesome 5 Free'
font-weight: 900 */